.fiveandsix{
    height: 200px;
    width: 33,33%;
}
.table{
    width: 75%;
}
.second_div{
    width: 90%;
    
}
.second_3{
    width: 60%;
}
.second_4{
    width: 28%;
}
.second_table{
    width: 80%;
}
.second_4-7{
    height: 200px;
}
.second_2-5-8{
    width: 33%;
}
.second_3-6{
    height: 200px;
}